<!-- Start Landing Page -->
<div class="landing-page">
  <header>
    <div class="container">
      <a href="#" class="logo">Smart<b> IPTV</b></a>
      <ul class="links">
        <li>Pagina inicial</li>
        <li>Quem somos</li>
        <li>Contato</li>
        <li>Clientes</li>
        <li>Testar grátis</li>
      </ul>
    </div>
  </header>
  <div class="content">
    <div class="container">
      <div class="info">
        <h1>
          🌟 Experimente a Revolução da TV com nosso Serviço IPTV Premium! 🌟
        </h1>
        <p>
          Diga adeus aos pacotes de TV tradicionais e dê as boas-vindas a uma
          nova era de entretenimento com nosso serviço IPTV de última geração!
          Com mais de 1000 canais disponíveis em Full HD e uma seleção especial
          de canais em deslumbrante resolução 4K, garantimos que sua experiência
          de visualização nunca mais será a mesma.
        </p>
        <h1>📺 Mais de 1000 Canais em Full HD e 4K</h1>
        <p>
          Desfrute de uma enorme variedade de conteúdo, desde os seus canais
          favoritos de notícias e esportes até programas de entretenimento,
          filmes e séries, tudo com qualidade de imagem nítida e clara que você
          só encontra em alta definição.
        </p>
        <h1>🚀 Streaming em Qualidade Premium</h1>
        <p>
          Transmita seus programas favoritos sem interrupções ou buffering,
          graças à nossa infraestrutura de streaming de última geração. Desfrute
          de uma conexão estável e confiável para uma experiência de
          visualização verdadeiramente imersiva.
        </p>
        <h1>🌍 Acesso Global</h1>
        <p>
          Assista à TV de qualquer lugar do mundo, a qualquer momento! Nossa
          plataforma IPTV é compatível com uma variedade de dispositivos,
          incluindo Smart TVs, computadores, smartphones e tablets, permitindo
          que você leve sua experiência de entretenimento para onde quer que vá.
        </p>
        <h1>💼 Planos Flexíveis</h1>
        <p>
          Escolha entre uma variedade de planos flexíveis que se adaptam às suas
          necessidades e orçamento. Desde pacotes mensais até opções de
          assinatura mais longas, garantimos que haja uma opção adequada para
          todos os tipos de espectadores.
        </p>
        <h1>🔒 Segurança e Confiabilidade</h1>
        <p>
          Sua segurança e privacidade são nossa prioridade máxima. Utilizamos
          tecnologias avançadas de criptografia para garantir que suas
          informações pessoais e atividades de visualização estejam sempre
          protegidas.
        </p>
      </div>
      <div class="image">
        <img src="https://i.postimg.cc/65QxYYzh/001234.png" />
      </div>
    </div>
  </div>
</div>
<!-- End Landing Page -->
